.nodeBg-20884901 {
  opacity: 1;
  background-image: url(./graphics/graphics0.png);
}
.nodeBg-I20824192_312035517 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-I20824192_312035815 {
  opacity: 0;
  background-image: url(./graphics/graphics2.png);
}
.nodeBg-I20824195_312035517 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-I20824195_312035815 {
  opacity: 0;
  background-image: url(./graphics/graphics2.png);
}
.nodeBg-I20824198_312035517 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-I20824198_312035815 {
  opacity: 0;
  background-image: url(./graphics/graphics2.png);
}
.nodeBg-I20824201_312035517 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-I20824201_312035815 {
  opacity: 0;
  background-image: url(./graphics/graphics2.png);
}
.nodeBg-I20824204_312035517 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-I20824204_312035815 {
  opacity: 0;
  background-image: url(./graphics/graphics2.png);
}
