.nodeBg-20782852 {
  opacity: 1;
  background-image: url(./graphics/graphics0.png);
}
.nodeBg-20782858 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-20782864 {
  opacity: 1;
  background-image: url(./graphics/graphics2.png);
}
.nodeBg-20782867 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-20782870 {
  opacity: 1;
  background-image: url(./graphics/graphics4.png);
}
.nodeBg-20782873 {
  opacity: 1;
  background-image: url(./graphics/graphics5.png);
}
