.nodeBg-20884855 {
  opacity: 1;
  background-image: url(./graphics/graphics0.png);
}
.nodeBg-20884864 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-20885039 {
  opacity: 1;
  background-image: url(./graphics/graphics2.png);
}
