.nodeBg-20787830 {
  opacity: 1;
  background-image: url(./graphics/graphics0.png);
}
.nodeBg-20782826 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-20884395 {
  opacity: 1;
  background-image: url(./graphics/graphics2.png);
}
.nodeBg-I20884401_161326_53615 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884401_161326_53616 {
  opacity: 0.4;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884401_161326_53617 {
  opacity: 0;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884403_2922507_19110160 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884405_161326_53615 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884405_161326_53616 {
  opacity: 0.4;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884405_161326_53617 {
  opacity: 0;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884407_168370 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884407_168371 {
  opacity: 1;
  background-image: url(./graphics/graphics4.png);
}
.nodeBg-I20884409_161326_53615 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884409_161326_53616 {
  opacity: 0.4;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884409_161326_53617 {
  opacity: 0;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884411_2922507_19110160 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884413_161326_53615 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884413_161326_53616 {
  opacity: 0.4;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884413_161326_53617 {
  opacity: 0;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884415_2922507_19110160 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884417_161326_53615 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884417_161326_53616 {
  opacity: 0.4;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884417_161326_53617 {
  opacity: 0;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-I20884419_2922507_19110160 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-20884422 {
  opacity: 1;
  background-image: url(./graphics/graphics5.png);
}
.nodeBg-20884423 {
  opacity: 1;
  background-image: url(./graphics/graphics6.png);
}
