.nodeBg-20824180 {
  opacity: 1;
  background-image: url(./graphics/graphics0.png);
}
.nodeBg-I20824172_3420 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-I20824173_3404 {
  opacity: 1;
  background-image: url(./graphics/graphics2.png);
}
.nodeBg-I20824174_3414 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
