.nodeBg-20884307 {
  opacity: 1;
  background-image: url(./graphics/graphics0.png);
}
.nodeBg-20884308 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-20884309 {
  opacity: 1;
  background-image: url(./graphics/graphics2.png);
}
.nodeBg-20884311 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
.nodeBg-20884312 {
  opacity: 1;
  background-image: url(./graphics/graphics4.png);
}
.nodeBg-20884313 {
  opacity: 1;
  background-image: url(./graphics/graphics5.png);
}
.nodeBg-20884315 {
  opacity: 1;
  background-image: url(./graphics/graphics6.png);
}
.nodeBg-20884316 {
  opacity: 1;
  background-image: url(./graphics/graphics7.png);
}
.nodeBg-20884317 {
  opacity: 1;
  background-image: url(./graphics/graphics8.png);
}
.nodeBg-20884319 {
  opacity: 1;
  background-image: url(./graphics/graphics9.png);
}
.nodeBg-20884320 {
  opacity: 1;
  background-image: url(./graphics/graphics10.png);
}
.nodeBg-20884321 {
  opacity: 1;
  background-image: url(./graphics/graphics11.png);
}
.nodeBg-20884323 {
  opacity: 1;
  background-image: url(./graphics/graphics12.png);
}
.nodeBg-20884324 {
  opacity: 1;
  background-image: url(./graphics/graphics13.png);
}
.nodeBg-20884325 {
  opacity: 1;
  background-image: url(./graphics/graphics14.png);
}
.nodeBg-20884367 {
  opacity: 1;
  background-image: url(./graphics/graphics15.png);
}
.nodeBg-20884327 {
  opacity: 1;
  background-image: url(./graphics/graphics16.png);
}
